include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-exclude tests *
recursive-exclude docs *
recursive-exclude docsrc *
recursive-exclude examples *
recursive-exclude logo *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.rst conf.py Makefile make.bat
