# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `dependencies` in `pyproject.toml` is also listed here!
# sphinx_rtd_theme
recommonmark
sphinx>=4.0.0
